@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

/* shared style */

body{
    margin: 0;
    padding: 0;
}

 header{
    margin: 70px 100px 0 100px;
 }
 .banner{
    margin: 0 155px;
    padding: 32px 56px;
 }

/* nav section style */



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.37rem;
    font-weight: 700;
}

.nav-menu ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: space-evenly;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 0.93rem;
    font-weight: 600;
}

/* hero section style */
.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 123px;
    margin-top: 144px;
    margin-bottom: 100px;
}
.hero-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero-description{color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 0.94rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero-btn{
    border-radius: 38px;
    background: rgb(224, 44, 109);
    border: none;
    padding: 9px 22px 9px 22px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 0.94rem;
    font-weight: 700;
}


/* responsive design for mobile  */

@media screen and (max-width: 576px) {
    .navbar{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .nav-title{
        text-align: center;
        margin-left: 50px;
    }
    .nav-menu ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .nav-menu ul li a{
        text-align: center;
    }

    .hero{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .hero-content{
        max-width: 576px;
        text-align: center;
    }
}


/* main section design */

/* banner section design */

.banner-img{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-evenly;
    align-items: center;
}


/*  banner responsive style for mobile */

@media screen and (max-width: 576px) {
    .banner-img{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        gap: 29px;
    }
}

